header{
    outline: 1px solid red;
}

.flex{
    display: flex;
}

.jc-between{
    justify-content: space-between;
}


.discord{
    background-color: aqua;
    height: 100px;
    width: 200px;
  
}
.center{
    background-color: blue;
    height: 100px;
    width: 200px;
   
}
.acces{
    background-color: red;
    height: 100px;
    width: 200px;

}

.header-text-center{
   align-items: center;
}

.flex-column{
    flex-direction: column;
}
.flex-center{
    justify-content:center;
    gap: 5%;
}
.jc-aorund{
    justify-content: space-around;
}
.grey{
    background-color: #f6f6f699;
}
.mac{
    background-color: #7289DA;
}
.black{
    background-color: black;
    color: white;
}
.white{
    color: yellow;
}
.title{
    color: #7289DA;
}
.stretch{
    align-items: stretch;
}
.padding{
    padding-top: 5%;
}

